<section class="login-content">

    <p *ngIf="isSubmitted" class="form-was-submitted">
      Form was submitted
    </p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="!isSubmitted">
        <div class="formRow">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Enter your email:</mat-label>
                <input type="email" formControlName="emailField" matInput placeholder="" value="">
            </mat-form-field>
          </div>


          <div class="formRow">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Enter your password:</mat-label>
                <input type="password" formControlName="passwordField" matInput placeholder="" value="">
            </mat-form-field>
          </div>

          <div class="formRow">
            <button type="submit" [disabled]="!loginForm.valid" mat-raised-button color="primary">Primary</button>
          </div>  
    </form>

</section>






