<section class="signup-form">


    <!-- 
        1. register page
        2. here we use 'Template-driven form'
     -->
    <form 
        fxLayout="column" 
        fxLayoutAlign="center center"
        #f="ngForm"
        fxLayoutGap="10px"
        (ngSubmit)="onSubmit(f)" >



        

        <!-- email field begin -->
        <mat-form-field>
            <input 
                type="email" 
                matInput 
                placeholder="Your email"
                ngModel
                name="email"
                email
                required
                #emailInput="ngModel" >
              <!-- we can add error to our field --> 
              <mat-error *ngIf="emailInput.hasError('required')">Field must not bee empty.</mat-error>   
              <mat-error *ngIf="!emailInput.hasError('required')">E-Mail is invalid.</mat-error>  
        </mat-form-field>
        <!-- email field end -->





        <!-- password field begin -->
        <mat-form-field hintLabel="Should be at least 6 characters long.">
            <input 
                type="password" 
                matInput 
                placeholder="Your password"
                ngModel
                name="password"
                required
                minlength="6"
                #pwInput="ngModel" >
            <!-- small text under input type, align to the end -->
            <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>    
            <!-- we can add error to our field --> 
            <mat-error>Has to be at least 6 characters long.</mat-error>   
        </mat-form-field>
        <!-- password field end -->





        <!-- datepicker begin -->
        <mat-form-field appearance="fill">
            <mat-label>Your birthdate</mat-label>
            <input 
                matInput 
                [matDatepicker]="picker" 
                placeholder="Your birthdate"
                [max]="maxDate"
                ngModel
                name="birthdate"
                required >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        <!-- datepicker end -->




        <!-- checkbox begin -->  
            <mat-checkbox
                class="example-margin"
                ngModel
                name="agree"
                required
                color="primary" >Agree to Terms and Conditions.</mat-checkbox>
        <!-- checkbox end -->  



        <!-- submit button begin -->
        <button 
            type="submit" 
            mat-raised-button
            [disabled]="f.invalid" 
            color="primary" >Submit</button>
        <!-- submit button end -->




    </form>
</section>


