<header>
    <div class="header-content">

        <div class="header-menu">
            <ul>
                <li>
                    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
                </li>
                <li>
                    <a routerLink="users" routerLinkActive="active">Users</a>
                </li>
                <li>
                    <a routerLink="posts" routerLinkActive="active">Posts</a>
                </li>
            </ul>
        </div>

        <div class="header-auth">
            <ul>
                <li>
                    <a routerLink="auth">Login</a>
                </li>
            </ul>
        </div>
    </div>
</header>