<mat-tab-group mat-align-tabs="start">
  <mat-tab label="First">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias rerum,
    harum tenetur ad earum voluptatibus delectus vitae aliquam esse quas dolores
    ipsum aliquid eius consequuntur, odio corrupti repellendus illum vero
    voluptate incidunt asperiores? Sunt atque blanditiis eum ea iste nihil,
    fugit impedit expedita illo tempore autem, necessitatibus pariatur? Corrupti
    repellendus voluptatibus architecto modi minima rerum laboriosam repellat
    aliquid veritatis minus. Perferendis quae nostrum temporibus, minus magni
    nam accusantium voluptatem amet dolorem deleniti consectetur est eum modi
    nesciunt mollitia veritatis, nemo accusamus quasi quas exercitationem
    eveniet itaque! Veniam, mollitia vitae! Nihil fuga quisquam quo itaque quam
    recusandae ipsa alias similique sint!
  </mat-tab>
  <mat-tab label="Second">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias rerum,
    harum tenetur ad earum voluptatibus delectus vitae aliquam esse quas dolores
    ipsum aliquid eius consequuntur, odio corrupti repellendus illum vero
    voluptate incidunt asperiores? Sunt atque blanditiis eum ea iste nihil,
    fugit impedit expedita illo tempore autem, necessitatibus pariatur? Corrupti
    repellendus voluptatibus architecto modi minima rerum laboriosam repellat
    aliquid veritatis minus. Perferendis quae nostrum temporibus, minus magni
    nam accusantium voluptatem amet dolorem deleniti consectetur est eum modi
    nesciunt mollitia veritatis, nemo accusamus quasi quas exercitationem
    eveniet itaque! Veniam, mollitia vitae! Nihil fuga quisquam quo itaque quam
    recusandae ipsa alias similique sint!
  </mat-tab>
  <mat-tab label="Third">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias rerum,
    harum tenetur ad earum voluptatibus delectus vitae aliquam esse quas dolores
    ipsum aliquid eius consequuntur, odio corrupti repellendus illum vero
    voluptate incidunt asperiores? Sunt atque blanditiis eum ea iste nihil,
    fugit impedit expedita illo tempore autem, necessitatibus pariatur? Corrupti
    repellendus voluptatibus architecto modi minima rerum laboriosam repellat
    aliquid veritatis minus. Perferendis quae nostrum temporibus, minus magni
    nam accusantium voluptatem amet dolorem deleniti consectetur est eum modi
    nesciunt mollitia veritatis, nemo accusamus quasi quas exercitationem
    eveniet itaque! Veniam, mollitia vitae! Nihil fuga quisquam quo itaque quam
    recusandae ipsa alias similique sint!
  </mat-tab>
</mat-tab-group>
