<section class="card-content">
    <!-- material card begin -->
      <mat-card  class="example-card card">
        <p>This card indeterminates progress bar.</p>
        <p>For more details login !!!</p>
      </mat-card>

      <mat-card  class="example-card card">
        <p>This card indeterminates progress bar.</p>
        <p>For more details login !!!</p>
      </mat-card>

      <mat-card  class="example-card card">
        <p>This card indeterminates progress bar.</p>
        <p>For more details login !!!</p>
      </mat-card>
    <!-- material card end -->

</section>