<section class="content">

<div class="content-internal">
  <div class="form-content">

    <div class="user-input-block">
      <form class="profileForm" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <label for="todo-name">Todo</label>
        <input 
          id="todo-name"
          formControlName="todoName"
          name="todoName"
          type="text">
          <button type="submit" [disabled]="!profileForm.valid">Save</button>
      </form>
    </div>

    <div class="dbButtons">
        <div class="database-connections">
          <button (click)="saveToDb()" class="btn">Save to Database</button>
          <button (click)="fetchData()" class="btn">Fetch from Database</button>
        </div>
    </div>

    <div class="result">
      <ul class="result-items">

        <li *ngFor="let todo of todos; index as i;" class="result-item">
          <div class="result-itemRow">
            <span>{{i}} - {{todo.title}}</span>
            <button (click)="deleteTodo(i)" class="result-delete">Delete</button>
          </div>
        </li>

      </ul>
    </div>

  </div>
</div>
</section>




<br>
<br>
<br>
<hr>
<br>
<br>
<br>

<section class="content-template">
  <div class="content-internal-template">
      <div class="top-block">
          <div>
            Left Block
          </div>
      </div>
      <div class="bottom-block">
          <div>
            Right Block
          </div>  
      </div>
  </div>
</section>