.box-content {
    display: flex;
    justify-content: center;
    margin:10px;
}

.box-content div {
    margin:10px;
    padding:10px;
    border:1px solid black;
}

.bgColor {
    background-color: darkcyan;
}