.header-right-items{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.header-right-item a{
    text-decoration: none;
    cursor: pointer;
}

.header-right-item{
    padding: 10px;
    align-items: center;
    display: flex;
}

.active{
    font-weight:bold;
}

