.users {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
    border:1px solid #a9a0a0;
}

.users-header {
    width: 100%;
    background-color: #ebebeb;
}

.users-header h3 {
    margin:10px;
}

.users-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.users-list button {
    cursor: pointer;
    padding: 14px 0px 14px 0px;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    display:flex;
    justify-content: flex-start;
    padding-left: 10px;
}

.users-list button.active:hover {
    background-color: #5365c7;
    color:#ffffff;
}

.users-list button:hover {
    background-color: #ebebeb;
}

.users-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.form-check {
    width: 50%;
    padding: 10px;
    margin-top: 5px;
}

.text-right {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding:10px;
}

.active {
    background-color: #3f51b5;
    color:#ffffff;
}