.header {
    background-color: cadetblue;
    display: flex;
    flex-direction: row;
}

.header-left{
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.header-left-items{
    margin: 0px;
    padding:10px;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.header-left-item a{
    text-decoration: none;
}

.header-left-item{
    padding:10px;
    align-items: center;
    display: flex;
}




.header-right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}




.active{
    font-weight: bold;
}
