<section class="my-form">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">


        <!-- Full Name field begin -->
        <div class="mb-3">
            <label for="fullNameInput" class="form-label">Full Name *</label>
            <input 
                type="text" 
                class="form-control" 
                name="fullNameInput"
                formControlName="fullNameInput"
                id="fullNameInput" >
                <span 
                  *ngIf="!fullNameInput.valid && fullNameInput.touched"
                  class="help-block">
                  Please enter a valid fuul name!
                </span>
          </div>
        <!-- Full Name field end -->



        <!-- Email field begin -->
        <div class="mb-3">
            <label for="emailNameInput" class="form-label">Email *</label>
            <input 
                type="text" 
                class="form-control" 
                name="emailNameInput"
                formControlName="emailNameInput"
                id="emailNameInput" >
                <span 
                    *ngIf="!emailNameInput.valid && emailNameInput.touched" 
                    class="help-block">
                    Please enter a valid email
                </span>
            </div>
        <!-- Email field end -->




        <!-- Company Name field begin -->
        <div class="mb-3">
            <label for="companyNameInput" class="form-label">Company *</label>
            <input 
                type="text" 
                class="form-control" 
                name="companyNameInput"
                formControlName="companyNameInput"
                id="companyNameInput" >
                <span *ngIf="!companyNameInput.valid && companyNameInput.touched">
                    Please enter a valid company
                </span>
            </div>
        <!-- Company Name field end -->





        <!-- Phone Name field begin -->
        <div class="mb-3">
            <label for="phoneInput" class="form-label">Phone *</label>
            <input 
                type="text" 
                class="form-control" 
                name="phoneInput"
                formControlName="phoneInput"
                id="phoneInput" >
                <span *ngIf="!phoneInput.valid && phoneInput.touched">
                    Please enter a valid phone
                </span>
            </div>
        <!-- Company Name field end -->





        <!-- IndustryVisitors group field begin -->
        <div class="mb-3" formGroupName="userData">

            <div class="mb-3">
                <label for="phoneInput" class="form-label">Industry</label>
                <select 
                    name="industrySelect" 
                    class="form-select" 
                    id="industrySelect"
                    formControlName="industrySelect"
                    aria-label="Industry select" >
                    <option *ngFor="let iUserData of industryUserData" [value]="iUserData.industry">{{iUserData.industry}}</option>
                </select>
                <span *ngIf="!industrySelect.valid && industrySelect.touched">
                    Please enter a valid industry
                </span>
            </div>

            <div class="mb-3">
                <label for="visitorsInput" class="form-label">Visitors</label>
                <select 
                    name="visitorsInput" 
                    class="form-select" 
                    id="visitorsInput"
                    formControlName="visitorsInput"
                    aria-label="Visitors select" >
                    <option *ngFor="let vUserData of visitorsUserData" [value]="vUserData.visitors">{{vUserData.visitors}}</option>
                </select>
                <span *ngIf="!visitorsInput.valid && visitorsInput.touched">
                    Please enter a valid visitors
                </span>
            </div>


            <!-- visitorsUserData -->

        </div>
        <!-- IndustryVisitors group field end -->



        <!-- submit form button begin -->
        <div class="col-12">
            <button [disabled]="!profileForm.valid" type="submit" class="btn btn-primary">Submit</button>
        </div>
        <!-- submit form button end -->

    </form>
</section>