<header class="header">
    <ul class="header-items">
        <li class="header-item">
            <a 
                [routerLink]="['']"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact: true}" >
                Home Page
            </a>
        </li>
        <li class="header-item">
            <a 
                [routerLink]="['contact-us']"
                [routerLinkActive]="['active']" >
                Contact Us
            </a>
        </li>
    </ul>
</header>



