.header{
    background-color: antiquewhite;
    padding:5px;
}

.header-items {
    display:flex;
    justify-content: center;
}

.header-item {
    list-style: none;
}

.header-item a {
    text-decoration: none;
    padding:5px;
}

.active {
    color:#000000;
}