.content {
    background-color: cadetblue;
    margin: 0 auto;
    text-align: center;
}

.circle-content {
    display: flex;
    justify-content: center;
}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%; 
  margin:10px;
  background-color: #bbb;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons button {
    margin:5px;
}