<header>
    <div class="header-content">
        <div class="menu">
            <ul>
                <li>
                    <a routerLink="/" >Home</a>
                </li>
                <li>
                    <a routerLink="users" >Users</a>
                </li>
                <li>
                    <a routerLink="posts" >Posts</a>
                </li>
            </ul>
        </div>    
        <div class="auth">
            <a (click)="onAuth()">{{!isLoggedIn ? 'Login' : 'Logout'}}</a>
        </div>
    </div>
</header>