.users {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top:10px;
}

.users-content {
    margin:10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.users-list {
    margin: 5px;
}

.users-details {
    margin: 5px;
}


@media (min-width: 576px) {
    .users-content {
        flex-direction: row;
        width: 1200px;
    }
    .users-list {
        width: 50%;
    }
    
    .users-details {
        width: 50%;
    }
}
