<section>
<ul>
    <li *ngFor="let game of games">
        <p>
            Game name : {{game.gameName}}
        </p>
        <p>
            Game price : {{game.gamePrice}}
        </p>
        <p>
            Active status : {{game.active}}
        </p>
    </li>
</ul>
</section>


<section>
    Number of active games : {{activeGames}}
</section>


<section>
    Game with highest price : {{gameHighestPrice}}
</section>


<section>
        Rundom Game : {{ randomGame }}
</section>


<section>
    <ul>
        <li *ngFor="let highestGame of highestGames">{{highestGame}}</li>
    </ul>

</section>


<section>
    Game with lowest Price : {{gameWithLowestPrice}}
</section>