<section class="header">
    <div class="header-left">
        <ul>
             <li>
                <a [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" >Home</a>
            </li>
             <li>
                <a [routerLink]="['/promotions']" [routerLinkActive]="['active']" >Promotions</a>
            </li>
            
            <!-- show this pagr only for logged in users -->
            <li *ngIf="isAuthenticated">
                <a [routerLink]="['/users']" [routerLinkActive]="['active']" >Users</a>
            </li>
        </ul>
    </div>
    <div class="header-right">
        <ul>
            <li>
                <a *ngIf="!isAuthenticated" [routerLink]="['/auth']" >Auth</a>  
            </li>


            <li>
                <a>Login</a>
            </li>

            <li>
                <a>Join</a>
            </li>


            <li>
                <a class="logout-link" *ngIf="isAuthenticated" (click)="onLogout()" >Logout</a>    
            </li>


        </ul>
    </div>
</section>



