/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
    font-family: 'Roboto', sans-serif;
}

body { background-color: #2b3e50; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body, html, ul, li {
    margin: 0px;
    padding: 0px;
    color:#ffffff;
}


a {
    color:#ffffff;
}