.header {
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
}

.active {
    color: #000000;
}

.header-left{
    width: 50%;
}

.header-left-items{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header-left-item {
    padding:5px;
}

.header-left-item a {
    text-decoration: none;
}


.header-right{
  display: flex;  
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  margin-right: 10px;
}

.header-right-items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
}

.header-right-item a{
    text-decoration: none;
}

.header-right-item{
    padding:5px;
}