<h3>assignment 1 - databinding</h3>
<ol>
  <li class="done">Add a Input field which updates a property ('username') via Two-Way-Binding</li>
  <li class="done">Output the username property via String Interpolation (in a paragraph below the input)</li>
  <li class="done">Add a button which may only be clicked if the username is NOT an empty string</li>
  <li class="done">Upon clicking the button, the username should be reset to an empty string</li>
</ol>

<br>
<br>
<br>


<section class="main-content">
  <form>
      <input 
        name="username"
        class="username"
        #usernameRef="ngModel"
        [(ngModel)]="username"
          type="text">
        <p>
          {{ username }}
        </p>
        <button (click)="resetUser()" [disabled]="!usernameRef.value">Click</button>
    </form>
</section>

