<!-- Login block begin -->
<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">



    <!-- show loading spinner -->
    <div *ngIf="isLoading" >
      <app-loading-spinner></app-loading-spinner>
    </div>
    <!-- show loading spinner -->



    <!-- show error message -->
      <div class="alert alert-danger" *ngIf="error">
        <p>
          {{ error }}
        </p>
      </div>
    <!-- show error message -->



    <!-- ************ Form begin ************ -->
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">

      <!-- email field begin -->
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input 
          type="email" 
          id="email" 
          class="form-control" 
          ngModel 
          required
          email

          name="email" />
      </div>
      <!-- email field end -->




      <!-- password field begin -->
      <!-- in our example we send data to Firebase -->
      <!-- we need at least 6 characters in password according to Firebase API -->
      <div class="form-group">
        <label for="password">Password</label>
        <input 
          type="password" 
          id="password" 
          ngModel
          name="password"  
          required     
          minlength="6"   
          class="form-control" />
      </div>
      <!-- password field end -->




      <!-- buttons area begin -->
      <div>
        <!-- If user login show 'Login' text. -->
        <!-- If user logged out show 'Sign Up' text -->
        <!-- This button will submit the form, so we need add type="submit" -->
        <!-- disable button when form not valid -->
        <button 
          class="btn btn-primary" 
          type="submit" 
          [disabled]="!authForm.valid">
          {{isLoginMode ? 'Login' : 'Sign Up'}}
        </button> |


        <button class="btn btn-primary" (click)="onSwitchMode()" type="button">
         Switch to {{ isLoginMode ? 'Sign Up' : 'Login'}}
        </button>
      </div>
      <!-- buttons area end -->




    </form>
    <!-- ************ Form end ************ -->



  </div>
</div>
<!-- Login block end -->
