.header{
    background-color: bisque;
    display: flex;
    flex-direction: row;
}

.header-left{
    width:50%;
    display: flex;
    justify-content: flex-start;
    padding:10px;
}

.active{
    font-weight:bold;
}

.header-left-items{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.header-left-item{
    padding:5px;
}

.header-left-item a{
    text-decoration: none;
}





.header-right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding:10px;
}

