<h1 mat-dialog-title>Save location</h1>
<div mat-dialog-content>
    <form [formGroup]="locationsFrom">
        <mat-form-field appearance="standard">
            <mat-label>Name</mat-label>
            <input formControlName="nameValue" type="text" matInput name="nameValue" >
             <mat-error *ngIf="!nameValue.valid && nameValue.touched">The name must be unique and mandatory.</mat-error> 
            </mat-form-field>
    </form>
</div>

<div class="action-buttons" mat-dialog-action [align]="'end'">
     <button mat-stroked-button color="primary" mat-dialog-close>Cancel</button>   
     <button mat-raised-button color="primary" (click)="saveLocation()" [disabled]="!locationsFrom.valid">Save</button> 
</div> 


