$base-search-location-section-color: #6273c6;
@mixin display-flex($flex-direction, $justify-content) {
  display: flex;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
}



.search-location-content {
  @include display-flex(column, center);
  padding: 10px;
  margin: 5px;
  h1 {
    color: $base-search-location-section-color;
    font-size: 30px;
    margin-bottom: 2px;
  }
}

.search-location-title {
  @include display-flex(row, center);
}


.search-table-container {
  h2 {
    font-size: 17px;
  }
  table {
    width: 100%;
  }
}


.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.example-table-container {
  position: relative;
  min-height: 200px;
  max-height: 700px;
  overflow: auto;
}

.no-data-available-message{
  @include display-flex(row, center);
  font-weight: bold;
  font-size: 19px;
  margin-top: 15px;
}

.search-table-content {
  height: 460px;
  max-width: 100%;
  overflow: auto;
}

.cell-data  {
  span{
    font-weight: bold;
  }
}

.actions-content {
  display:flex;
  justify-content: right;
}


.data-row {
  border: 1px solid #bebec2;
  @include display-flex(column, center);
  height: 100%;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-right: 5px;
  background-color: #f0de6c;
}



.actions-content button{
  line-height: 24px;
}



/* mat css updates */
.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.mat-row .mat-cell {
  cursor: pointer;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border-bottom-width: 0px;
}

td.mat-cell:first-of-type {
  padding-left: 0px;
}

.mat-icon-button {
  width: unset;
  height: unset;
}





