<section class="contact-us">
    <form
       (ngSubmit)="onSubmit()"
         #f="ngForm">


         <!-- email field begin -->
         <div class="form-row">
            <label class="form-label" for="email">Email</label>
            <input 
                type="email"
                required
                name="email"
                email
                #email="ngModel"
                class="form-control"
                ngModel >
            <span *ngIf="!email.valid">Please enter a valid email!</span>    
        </div>
         <!-- email field end -->





        <!-- subscription drop down list begin -->
        <div class="form-row">
            <label class="form-label" for="subscription">Subscription</label>
            <select
                name="subscription" 
                id="subscription"
                class="form-select"
                [ngModel]="defaultSub" 
                required >
                    <option  
                        [value]="userDataItem.subscriptionName" 
                        *ngFor="let userDataItem of userDataItems">
                            {{ userDataItem.subscriptionName }}
                        </option>
            </select>
        </div>
        <!-- subscription drop down list end -->

       

        <!-- password field begin -->
        <div class="form-row">
            <label class="form-label" for="password">Password</label>
            <input 
                type="password" 
                name="password" 
                id="password"
                class="form-control"
                ngModel
                #password="ngModel"
                required >
            <span *ngIf="!password.valid">Please enter password</span>
        </div>
        <!-- password field end -->





        <!-- form submit button begin -->
        <div class="form-row">
            <button 
                type="submit"
                class="btn btn-primary"
                [disabled]="!f.valid" >
                Submit Button
            </button> 
        </div>
        <!-- form submit button end -->



    </form>

    <div class="form-row">
        <p 
            *ngIf="!f.valid && f.touched"
            [ngStyle]="{color: 'red'}">
            Form is invalid !!!
        </p>
    </div>







</section>