<section class="auth-terms-content">
  <h2>auth terms</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, unde. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Quidem, unde. Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Quidem, unde. Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Quidem, unde. Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Quidem, unde. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Quidem, unde. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Quidem, unde.
    <br />
    <br />
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, unde. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Quidem, unde. Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Quidem, unde. Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Quidem, unde. Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Quidem, unde. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Quidem, unde.
    <br />
    <br />
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, unde. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Quidem, unde. Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Quidem, unde. Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Quidem, unde. Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Quidem, unde.
    <br />
    <br />
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, unde. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Quidem, unde. Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Quidem, unde.
    <br />
    <br />
  </p>
</section>
