h1 {
    color: red;
}


:host {
    border:1px solid black;
    padding: 20px;  
    display: block;
}


:host(.favorite) {
    border: 1px solid red;
}

:host-context(.boring #very-boring) {
    border: 1px solid #ccc;
    color: #ccc;
}






/* ********************************************* */
/*
    1. We can use  /deep/ or >>> this is the same
*/

/* :host-context(.boring #very-boring) /deep/ h1 {
    color: blue;
} */


:host-context(.boring #very-boring) >>> h1 {
    color: blue;
}

/* ********************************************* */





/* #quote {
    border:1px solid black;
    padding: 20px;
} */