
    <div  class="animation1-block">



        <div class="box1 box"  [@openClose]="isShown ? 'true' : 'false'">
            <h2>Lorem ipsum dolor sit amet.</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, maiores?
        </div>
    
        <div class="box2 box"  [@openClose2]="isShown ? 'true' : 'false'">
            <h2>Lorem ipsum dolor sit amet.</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, maiores?
        </div>
    
        <div class="box3 box"  [@openClose3]="isShown ? 'true' : 'false'">
            <h2>Lorem ipsum dolor sit amet.</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, maiores?
        </div>







    </div>