<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>


      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li 
            class="list-group-item"
            [ngClass]="
              {
                odd: odd % 2 !== 0
              }" 
            [ngStyle]="
              {
                backgroundColor:  odd % 2 !== 0 ? 'yellow' : 'transparent'
              }"
            *ngFor="let odd of oddNumbers">
            {{ odd }}
          </li>
        </div>

        <div *ngIf="!onlyOdd">
          <li 
          class="list-group-item" 
          [ngClass]="
            {
              even: even % 2 !== 0
            }"
            [ngStyle]="
            {
              backgroundColor:  even % 2 !== 0 ? 'yellow' : 'transparent'
            }" 
          *ngFor="let even of evenNumber">
          {{ even }}
          </li>
        </div>



        <div *appUnless="onlyOdd">
          <li 
            class="list-group-item" 
            [ngClass]="{even: even % 2 !== 0}"
            [ngStyle]="{backgroundColor:  even % 2 !== 0 ? 'yellow' : 'transparent'}" 
            *ngFor="let even of evenNumber">
              {{ even }}
          </li>
        </div>


      </ul>


      <p appBasicHighlight>
        Style me with basic directive!
      </p>

      <p [appBetterHighlight]="'red'" [defaultColor]="'yellow'" >
        Style me with better directive!
      </p>



      <p [appBetterHighlightRenderer2]="'green'" [defaultColorRenderer2]="'blue'" >
        Style me with better directive! - renderer2
      </p>



      <br>
      <hr>
      <br>



      <div class="container">
        <h1>Angular Directives - Renderer2</h1>
        <p [appBetterHighlightUdemuRuRenderer2]="'red'" [dStyle]="{border: '1px solid blue', borderRadius: '5px'}">
          Udemy Ru - angular directives - Renderer2 example
        </p>

        <p [appBetterHighlightUdemuRuRenderer2]="'blue'" [dStyle]="{border: '1px solid red', borderRadius: '15px'}">
          Udemy Ru - angular directives - Renderer2 example
        </p>
      </div>



      <br>
      <hr>
      <br>



      <div class="container">
        <h1>Angular Directives - HostBinding</h1>
        <p [appBetterHighlightUdemuRuHostbinding]="'red'" [dStyle]="{border: '1px solid blue', borderRadius: '5px'}">
          Udemy Ru - angular directives - HostBinding example
        </p>

        <p [appBetterHighlightUdemuRuHostbinding]="'blue'" [dStyle]="{border: '1px solid red', borderRadius: '15px'}">
          Udemy Ru - angular directives - HostBinding example
        </p>
      </div>



      <br>
      <hr>
      <br>



      <div [ngSwitch]="value">
        <div *ngSwitchCase="5">Value is 5</div>
        <div *ngSwitchCase="10">Value is 10</div>
        <div *ngSwitchCase="100">Value is 100</div>
        <div *ngSwitchDefault>Value is Default</div>
      </div>



      <br>
      <hr>
      <br>



      <div [appCircleStyle]="'#bbb'" class="circle"></div>
      <div [appCircleStyle]="'red'" class="circle"></div>
      <div [appCircleStyle]="'blue'" class="circle"></div>

      <br>
      <br>
      <br>




      <br>
      <hr>
      <br>

  

      <div [ngSwitch]="randomNumber">
        <div *ngSwitchCase="0">number: 0</div>
        <div *ngSwitchCase="1">number: 1</div>
        <div *ngSwitchCase="2">number: 2</div>
        <div *ngSwitchCase="3">number: 3</div>
        <div *ngSwitchCase="4">number: 4</div>
        <div *ngSwitchDefault>default</div>
      </div>
      <br>
      <div [ngSwitch]="randomNumber">
        <div *ngSwitchCase="0">number: 0</div>
        <div *ngSwitchCase="1">number: 1</div>
        <div *ngSwitchCase="2">number: 2</div>
        <div *ngSwitchCase="3">number: 3</div>
        <div *ngSwitchCase="4">number: 4</div>
        <div *ngSwitchDefault>default</div>
     </div>




      <br>
      <hr>
      <br>
      <br>



      <div>
        <p [appTooltip]="{
          tooltipTextColor: '#ffffff',
          tooltipBgColor: '#000000',
          tooltipText: 'This is tooltip text!!!'
        }">Lorem ipsum dolor</p>

        <br>

        <p [appTooltip]="{
          tooltipTextColor: '#ffffff',
          tooltipBgColor: 'blue',
          tooltipText: 'This is tooltip text 123 123 123'
        }">Lorem ipsum dolor</p>

        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, ullam.
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, doloribus.
          <a href="#" [appTooltip]="{
            tooltipTextColor: '#ffffff',
            tooltipBgColor: '#000000',
            tooltipText: 'This is tooltip text!!!'
          }">Lorem</a>
        </p>
      </div>





      <br>
      <hr>
      <br>





      
    </div>
  </div>
</div>


