<h3>assignment 6 - Http request </h3>
<ol>
    <li>get top 3 users with biggest id from server </li>
</ol>





  <section class="assignment6">
    <form [formGroup]="userForm" class="userForm" (ngSubmit)="onSubmitForm()" >

        <div class="row">
            <label for="userEmail">Please enter user email</label>
            <input 
                type="email" 
                formControlName="userEmail"
                name="userEmail" 
                id="userEmail">
            <span *ngIf="!getUserEmail.valid && getUserEmail.touched" class="error">enter valid email</span>    
        </div>

        <div class="row">
            <label for="userPassword">Please enter password</label>
            <input 
                type="password" 
                formControlName="userPassword"
                name="userPassword" 
                id="userPassword">
            <span *ngIf="!getUserPassword.valid && getUserPassword.touched" class="error">enter valid password</span>    
        </div>

        <div class="row">
            <button [disabled]="!userForm.valid" type="submit">Submit</button>
        </div>

    </form>


    <br>
    <br>

  </section>