
<section class="header">
    <ul class="header-menu">
        <li class="header-menu-item">
            <a [routerLink]="['/']" routerLinkActive="active-tab" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="header-menu-item">
            <a [routerLink]="['/promotions']" routerLinkActive="active-tab">Promotions</a>
        </li>
        <li class="header-menu-item">
            <a [routerLink]="['/games']" routerLinkActive="active-tab">Games</a>    
        </li>
    </ul>
</section>