<section class="my-form">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" >


        <!-- user name begin -->
        <div class="mb-3">
            <label for="userInput" class="form-label">User name</label>
            <input 
                type="text" 
                class="form-control"
                name="userInput"
                formControlName="userInput" 
                id="userInput" >
                <span *ngIf="!userInput!.valid && userInput!.touched">Enter valid user name</span>
          </div>
          <!-- user name end -->


        <!-- email begin -->
        <div class="mb-3">
            <label for="emailInput" class="form-label">Email</label>
            <input 
                type="email" 
                class="form-control"
                name="emailInput"
                formControlName="emailInput" 
                id="emailInputs" >
                <span *ngIf="!emailInput!.valid && emailInput!.touched">Enter valid email</span>
          </div>
          <!-- email end -->



          <div class="col-12">
            <button [disabled]="!profileForm.valid" type="submit" class="btn btn-primary">Submit</button>
          </div>



    </form>
</section>




<section class="result">
<ul>
    <li *ngFor="let postData of postsData">{{postData.title}}</li>
</ul>
</section>





<section class="result">
    <ul>
        <li *ngFor="let commentData of commentsData">{{commentData.email}}</li>
    </ul>
    </section>