<h1 mat-dialog-title>{{ pageTitle }}</h1>
<div mat-dialog-content>

    <form [formGroup]="employeeFrom">
        <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input formControlName="titleValue" matInput placeholder="Placeholder">
          </mat-form-field>
    
          <mat-form-field appearance="outline">
            <mat-label>albumId</mat-label>
            <input formControlName="albumIdValue" matInput placeholder="Placeholder">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>url</mat-label>
            <input formControlName="urlValue" matInput placeholder="Placeholder">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>thumbnailUrl</mat-label>
            <input formControlName="thumbnailUrlValue" matInput placeholder="Placeholder">
          </mat-form-field>
    </form>

</div>


<div class="action-buttons" mat-dialog-action [align]="'end'">
     <button mat-raised-button color="warn" mat-dialog-close>Close</button>   
     <button mat-raised-button color="primary" (click)="addEmployee()">{{actionBtn}}</button> 
</div>