<section class="my-form">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" *ngIf="!isSubmitted">


        <div class="mb-3">
            <label 
                for="dataInput" 
                class="form-label">
                User Data :
            </label>
            <input 
                type="text" 
                class="form-control" 
                name="dataInput"
                formControlName="dataInput"
                id="dataInput" >
                <span *ngIf="!dataInput!.valid && dataInput!.touched">Please enter user data</span>
          </div>


          <div class="col-12">
            <button 
                type="submit" 
                [disabled]="!profileForm.valid"
                class="btn btn-primary">Submit</button>
          </div>

    </form>



</section>


<section class="error" *ngIf="showErrorMessage">
    error
</section>


<section class="success" *ngIf="showSuccessMessage">
    success
    <ul>
        <li *ngFor="let uData of userData">
            {{uData.title}}
        </li>
    </ul>
</section>






