<section class="content">
    <div>
        Lorem 1 ipsum dolor sit amet consectetur adipisicing elit. Deserunt, doloribus?
    </div>

    <div>
        <ng-content></ng-content>
        <ng-content select="[textBlock]"></ng-content>
        <ng-content select="[textBlock2]"></ng-content>
    </div>

    <div>
        Lorem 3 ipsum dolor sit amet consectetur adipisicing elit. Expedita, commodi.
    </div>
</section> 






<br><br><br><br>
<hr>
<br><br><br><br>




<ul>
    <li *ngFor="let item of items">
        {{item.title}} - {{item.author}}
        <ul>
            <li *ngFor="let comment of item.comments">
                {{comment.name}} - {{comment.text}}
            </li>
        </ul>
    </li>
</ul>




