<div class="container">
  
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-pills">
        <li class="link" role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Projects</a></li>
        <li class="link" role="presentation" routerLinkActive="active"><a routerLink="/users">Users</a></li>
      </ul>
    </div>
  </div>

  <div class="row" style="overflow: hidden;">


    <!-- 
      1. here we will add our trigger
      2. we create function 'getAnimationData' and we pass 'rOutlet' as local reference.
    -->
    <div class="col-xs-12" [@routeState]="getAnimationData(rOutlet)">


      <!-- 
        1. here we add local reference and we assign the value and the value must be 'outlet'
      -->
      <router-outlet #rOutlet="outlet"></router-outlet>


    </div>
  </div>

</div>







