<section>
    <ul>
        <li *ngFor="let r of result">
            Name : {{r.name}} <br>
            Price: {{r.price}} <br>
            Bonus: {{r.bonus}}
        </li>
    </ul>
</section>


<section>
    <p>
        In String "{{str}}" we have {{numberOfLetters}} letters.
    </p>
</section>



<section>
    <p>
        Sum of numbers : {{mySum}}
    </p>
</section>


<section>
    <p>
        Sum of numbers from object is : {{mySumObj}}
    </p>
</section>



<section>
    <ul>
        <li *ngFor="let bigPricesItem of bigPricesItems">
            {{bigPricesItem.name}} - {{bigPricesItem.price}}
        </li>
    </ul>
</section>