<section class="content">
    <ul class="content-list">
        <li class="content-list-item">
            <a  [routerLink]="['/']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="content-list-item">
            <a [routerLink]="['/promotions']" [routerLinkActive]="['active']" >Promotions</a>    
        </li>
        <li class="content-list-item">
            <a [routerLink]="['/games']" [routerLinkActive]="['active']">Games</a>    
        </li>
    </ul>
</section>