.content{
    background-color: coral;
}

.content-list{
    display: flex;
    list-style: none;
    margin:0px;
    padding:0px;
}

.content-list-item{
    padding:5px;
    margin:5px;
}

.content-list-item a{
   text-decoration: none; 
   color: #000000;
   display: inline-block;
}

.active{
    font-weight: bold;
}