.promotions {
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.promotions-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:990px;
    flex-wrap: wrap;
}

.prom-item {
    width: 100%;
    padding:10px;
    margin:10px;
    background-color: #f3f6f7;
}





/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .prom-item {
        width: 450px;
    }

}