<div class="card" *ngFor="let topComment of topComments">
    <div class="card-body">
      <h5 class="card-title">{{topComment.name}}</h5>
      <p class="card-text">{{topComment.body}}</p>
      <p class="card-text">{{topComment.email}}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>





  <br><br><br>
  <br><br><br>



  

  <div class="card" *ngFor="let userD of userData">
    <div class="card-body">
      <h5 class="card-title">{{userD.email}}</h5>
      <p class="card-text">{{userD.title}}</p>
      <p class="card-text">{{userD.albumTitle}}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
