header {
    width:100%;
}

.header-content {
    margin:10px;
}

.header-content ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.header-content ul li {
    list-style: none;
}

.header-content ul li a {
    padding: 10px;
    text-decoration: none;
}

.header-content ul li a:hover {
    text-decoration: underline;
}
