  .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
  }

  .inner-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width:1400px;
  }

  .search-location {
    border: 1px solid #bebec2;
    width: 20%;
  }

  .google-map-report {
    border: 1px solid #bebec2;
    border-left: none;
    width: 80%;
  }

  