<header class="header">
    <div class="header-content">
        <ul class="header-content-items">

            <!-- home page link -->
            <li lass="header-content-item">
                <a  class="header-content-item-link"
                    [routerLinkActive]="['active']"
                    [routerLinkActiveOptions]="{exact: true}"
                    [routerLink]="['']" >
                    Home
                </a>
            </li>

            <!-- contact us link -->    
            <li class="header-content-item">
                <a  class="header-content-item-link"
                    [routerLinkActive]="['active']"
                    [routerLink]="['contact-us']" >
                    Contect Us
                </a>
            </li>
            
        </ul>
    </div>
</header>