<header class="header">
    <div class="header-block">
        <ul class="header-items">
            <li class="header-item">
                <a 
                    [routerLink]="['']"
                    [routerLinkActive]="['active']"
                    [routerLinkActiveOptions]="{exact: true}" >
                    Home
                </a>
            </li>
            <li class="header-item">
                <a
                    [routerLink]="['promotions']"
                    [routerLinkActive]="['active']" >Promotions</a>
            </li>
            <li class="header-item">
                <a 
                    [routerLink]="['slots']"
                    [routerLinkActive]="['active']">Slots</a>
            </li>
            <li class="header-item">
                <a 
                    [routerLink]="['games']"
                    [routerLinkActive]="['active']" >Games</a>
            </li>
            <li class="header-item">
                <a 
                    [routerLink]="['contact-us']"
                    [routerLinkActive]="['active']" >Contact Us</a>
            </li>
        </ul>
    </div>
</header>