<label>Server Name</label>
<!-- <input (input)="onUpdateServerName($event)" type="text" class="form-control"> -->


<input [(ngModel)]="serverName" type="text" class="form-control">

<!-- <p>{{serverName}}</p> -->


<button [disabled]="!allowNewServer" (click)="onCreateServer()" class="btn btn-primary">Add Server</button>


<!-- <p>{{ allowNewServer }}</p>

<p [innerText]="allowNewServer" ></p> -->

<!-- <p>{{ serverCreationStatus }}</p> -->


<p *ngIf="serverCreated">Server was created, server name is {{serverName}}</p>



<app-server *ngFor="let server of servers;"></app-server>




