<section class="auth">
    <div class="auth-content">
        <form class="authForm" [formGroup]="authForm" (ngSubmit)="onSubmit()">


            <div class="auth-content-row">
                <h3>
                    Login
                </h3>
             </div>




            <!-- Email field begin -->
            <div class="auth-content-row">
                <label 
                    class="formLabel" 
                    for="email">
                    Email:
                </label>
                <input 
                    type="email" 
                    id="email"
                    name="email"
                    class="email"
                    formControlName="email"
                    >
                <span
                    class="error-field"
                    *ngIf="!emailInput.valid && emailInput.touched" >
                    Please enter a valid email!
                </span>
            </div>
            <!-- Email field end -->




            <!-- Password field begin -->
            <div class="auth-content-row">
                <label 
                    class="formLabel" 
                    for="password">
                    Password:
                </label>
                <input 
                    type="password" 
                    id="password" 
                    formControlName="password">
                    <span
                    class="error-field"
                    *ngIf="!passwordInput.valid && passwordInput.touched" >
                    Please enter a valid password!
                </span>
            </div>
            <!-- Password field end -->



            <!-- Submit button begin -->
            <div class="auth-content-row">
                <button type="submit" [disabled]="!authForm.valid">Submit</button>
            </div>
            <!-- Submit button end -->

        </form>
    </div>
</section>