
<mat-sidenav-container class="example-container">

    <!-- sidenav (mobile) links begin -->
    <mat-sidenav 
        #sidenav
        role="navigation" >
        <app-sidenav-list (closeSidenav)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <!-- sidenav (mobile) links end -->



    <!-- sidenav content begin -->
    <mat-sidenav-content>
        <!-- toolbar begin -->
         <app-header (sidenavToggle)="sidenav.toggle()"></app-header>   
        <!-- toolbar end -->
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
    <!-- sidenav content end -->

    
</mat-sidenav-container>













