<section class="register-shell">
    <div class="register-shell-content">
        <div class="register-shell-form">
            <div class="register-shell-form-content">
                <form>
                    <div class="formRow">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Enter your name:</mat-label>
                            <input matInput placeholder="" value="">
                         </mat-form-field>
                    </div>


                    <div class="formRow">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label for="emailField">Enter your email:</mat-label>
                            <input name="emailField" id="emailField" type="email" matInput>
                          </mat-form-field>
                    </div>   
                    
                    
                    <div class="formRow">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label for="passwordField">Enter your password:</mat-label>
                            <input name="passwordField" id="passwordField" type="password" matInput>
                          </mat-form-field>
                    </div>


                    <div class="formRow">
                        <button mat-raised-button color="primary">Submit</button>
                    </div>





              

                      
         
               
 





                </form>
            </div>
        </div>
        <div class="register-shell-info">
            <div class="register-shell-info-content">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore, amet.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore, amet.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore, amet.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore, amet.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore, amet.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore, amet.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore, amet.
            </p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. A, laboriosam.
            </p>
            </div>
        </div>
    </div>
</section>












