$base-color: #000000;
$secondary-color: #faf7f8;
$border-color: #e0dede;
$table-title-font-size: 14px;

@mixin display-flex($flex-direction, $justify-content) {
  display: flex;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
}

@mixin table-td-width($width) {
  width: $width;
}



.main-container {
  width: 100%;
  @include display-flex(row, center);
}

.employee-container {
  width: 1200px;
  @media screen and (max-width: 576px) {
    width: 100%;
  }
  @include display-flex(column, center);
}

.add-new-employee {
  @include display-flex(column, center);
}

.page-title {
  margin: 10px;
  @include display-flex(row, left);
  @media screen and (max-width: 576px) {
    h1 {
      font-size: 18px;
    }
  }
}

.employee-list {
  @include display-flex(row, center);
  margin-top: 10px;
}

.employee-list-content {
  width: 100%;
  padding: 5px;
}

.add-new-employee-block {
  background-color: $secondary-color;
  padding: 20px 30px 30px 0px;
  margin:5px;
}


.user-profile-img {
  width: 50px;
  margin: 10px 5px 5px 5px;
  border: 1px solid $border-color;
  border-radius: 5px;
}

.thumbnailUrlRow {
  @include table-td-width(10%);
}

.idRow {
  @include table-td-width(10%);
}

.titleRow {
  @include table-td-width(55%);
}

.AlbumIdRow {
  @include table-td-width(10%);
}

.editDeleteRow {
  @include table-td-width(15%);
}

.editDeleteRow {
  img {
    width: 30px;
    padding: 5px;
    cursor: pointer;
  }
}

.table-title {
  color: $base-color;
  font-size: $table-title-font-size;
}





// material data table scss begin
.mat-table-style {
  width: 100%;
}

.mat-table-style .mat-row:nth-child(odd) {
  background-color: $secondary-color;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
// material data table scss end





