<section class="promotions">

  <div class="col-sm-3 search">
    <input 
      class="form-control me-2" 
      type="text" 
      placeholder="Search"
      [(ngModel)]="filteredStatus" 
      aria-label="Search">
  </div>

    <div class="row">

        <!-- list of promotions begin -->
        <div 
          *ngFor="let pData of promotionsData | filter:filteredStatus:'title'; index as i"
          class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{pData.title }}</h5>
              <p class="card-text">{{pData.text | shortText:50}}</p>
              <a 
                [routerLink]="['../promotion',i+1]"
                class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
        <!-- list of promotions end -->

      </div>
</section>


<router-outlet></router-outlet>
