<header class="header">

    <div class="header-left">
        <ul class="header-items">
            <li class="header-item">
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Home Page</a>
            </li>
            <li class="header-item">
                <a routerLink="/promotions" routerLinkActive="active" >Promotions</a>
            </li>
            <li class="header-item">
                <a routerLink="/users" routerLinkActive="active">Users</a>
            </li>
        </ul>
    </div>

    <div class="header-right">
        <ul class="header-items">
            <li class="header-item">
                <a routerLink="/auth" routerLinkActive="active">Auth</a>
            </li>
        </ul>
    </div>




</header>



