<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--
          Create a Form with the following Controls and Validators
          1) Project Name (should not be empty)
          2) Mail (should not be a empty and a valid email)
          3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
          4) Submit Button

          Add your own Validator which doesn't allow "Test" as a Project Name

          Also implement that Validator as an async Validator (replace the other one)

          Upon submitting the form, simply print the value to the console
      -->
    </div>
  </div>
</div>






<div class="form-container">
  <form 
    [formGroup]="profileForm"
    (ngSubmit)="onSubmit()" >


    <!-- project name begin -->
    <div class="mb-3">
      <label for="projectNameInput" class="form-label">Project Name:</label>
      <input 
        type="email" 
        class="form-control" 
        id="projectNameInput" 
        formControlName="projectName" >
        <span 
            *ngIf="!profileForm.get('projectName').valid && profileForm.get('projectName').touched"
            class="help-block">
                <span *ngIf="profileForm.get('projectName').errors['projecNameIsForbidden']">
                  This name is invalid!
                </span>
                <span *ngIf="profileForm.get('projectName').errors['required']">
                  This field is required!
                </span>
      </span>
    </div>
    <!-- project name end -->



    <!-- project email begin -->
    <div class="mb-3">
      <label for="projectEmailInput" class="form-label">Project Email:</label>
      <input 
        type="email" 
        class="form-control" 
        id="projectEmailInput"
        formControlName="projectEmail" >
          <span 
            *ngIf="!profileForm.get('projectEmail').valid && profileForm.get('projectEmail').touched"
            class="help-block">Please enter a valid email!
          </span>
    </div>
    <!-- project email end -->





      <!-- project email async begin -->
        <div class="mb-3">
          <label for="projectEmailAsyncInput" class="form-label">Project Email Async:</label>
          <input 
            type="email" 
            class="form-control" 
            id="projectEmailAsyncInput"
            formControlName="projectEmailAsync" >
            <span 
            *ngIf="!profileForm.get('projectEmailAsync').valid && profileForm.get('projectEmailAsync').touched"
            class="help-block">Please enter a valid email!</span>
        </div>
        <!-- project email end -->



    <!-- project status begin -->
    <div class="mb-3">
      <label for="projectStatusSelect" class="form-label">Project Status:</label>
    <select 
        id="projectStatusSelect" 
        class="form-select form-select-lg mb-3" 
        formControlName="projectStatus"
        aria-label=".form-select-lg example" >
        <option 
          *ngFor="let pStatus of projectStatus" [value]=pStatus>{{pStatus}}</option>
    </select>
  </div>
    <!-- project status end -->


    <div class="col-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>



  </form>
</div>








