

.header-content-desktop {
    display: none;
}

.header-content-mobile {
    display: block;
}


.active {
    font-weight:bold;
    color:#000000;
}



/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
    .header-content-desktop {
        display: block;
    }
    
    .header-content-mobile {
        display: none;
    }
  }
