<section class="promotions">


    <p>
        Number of promotions with bonus SUPER : {{counter}}
    </p>



    <!-- current promotion start -->
    <div *ngFor="let p of pData" class="promotions-block">
        <div class="promotions-block-title">
            {{ p.promTitle }}
        </div>
        <div class="promotions-block-image">
            <img [src]="p.promImage" [alt]="p.promTitle">
        </div>
        <div class="promotions-block-short-text">
            {{ p.promShortText }}
        </div>
        <div class="promotions-block-long-text">
            {{ p.promLongText }}
        </div>
    </div>
    <!-- current promotion end -->

</section>