<section class="page-not-found-content">
    <div class="page-not-found-content-internal">
        <mat-card class="card">
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-content>
              <p>This card has divider and indeterminate progress as footer</p>
              <p>{{ longText }}</p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
              <button [routerLink]="['/']" [queryParams]="{debug: true}" mat-button>Home Page</button>
              <button routerLink="/auth" mat-button>Login</button>
            </mat-card-actions>
            <mat-card-footer>
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </div>
</section>
