.page-not-found-content {
    width: 100%;
}

.page-not-found-content-internal {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.card {
    width: 100%;
}


/* mobile first - this css will be for tablet/desktop */ 
@media screen and (min-width: 576px) {
    .card {
        width: 500px;
    }
    .page-not-found-content-internal {
        padding:10px;
    }
  }
