<h3>assignment 2 - TD Form</h3>
<ol>
  <li>Add a Form inputs firstName and lastName</li>
  <li>submit form, use TD form </li>
  <li>Dislay below form submitted values</li>
  <li>Below each field add error if current fiest is empty</li>
  <li>Add Validators for input fields</li>
</ol>

<br>
<br>
<br>


<section class="assignment2">
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
        <div class="row">
            <input
                name="firstName"
                class="firstName"
                required
                [(ngModel)]="firstNameValue"
                #firstNameRef="ngModel"
                type="text">
                <span *ngIf="!firstNameRef.valid">Enter your first name</span>
        </div>

        <div class="row">
        <input
            name="lastName"
            class="lastName"
            ngModel
            required
            #lastNameRef="ngModel"
            type="text">
            <span *ngIf="!lastNameRef.valid">Enter your last name</span> 
        </div>       
            
        <div class="row">
            <button type="submit">Submit</button>    
        </div>
    </form>    



    <p>
        FirstName: {{firstNameRef.value}}
        <br>
        LastName: {{lastNameRef.value}}
    </p>

</section>


