<mat-toolbar color="primary">
    <!-- mobile menu begin -->
    <div fxHide.gt-xs>
        <button 
            mat-icon-button
            (click)="onToggleSidenav()" >
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <!-- mobile menu end -->
    <div>
        <a routerLink="/">NG Fitness</a>
    </div>
    <!-- desktop menu begin -->
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs >
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <li *ngIf="!isAuth">
                <a routerLink="/signup">Signup</a>
            </li>
            <li *ngIf="!isAuth">
                <a routerLink="/login">Login</a>
            </li>
            <li *ngIf="isAuth">
                <a routerLink="/training">Training</a>
            </li>
            <li *ngIf="isAuth">
                <a class="logout" (click)="onLogout()">Logout</a>
            </li>
        </ul>
    </div>
    <!-- desktop nemu end -->
</mat-toolbar>