<div class="accordion accordion-flush" id="accordionFlushExample">
    
    <div class="accordion accordion-flush" id="accordionFlushExample">
       
       

        <!-- *************** accordion begin *************** -->
        <!--  Add attr. when binding to an ARIA attribute -->
        <!-- you can see example here : https://angular.io/guide/accessibility -->
        <div *ngFor="let cData of commentsData" class="accordion-item">
          <h2 
            class="accordion-header" 
            [id]="'flush-heading'+cData.id" >
            <button 
                class="accordion-button collapsed" 
                type="button" 
                data-bs-toggle="collapse" 
                [attr.data-bs-target]="'#flush-collapse'+cData.id" 
                aria-expanded="false" 
                [attr.aria-controls]="'flush-collapse'+cData.id">
              {{cData.name}}
            </button>
          </h2>
          <div [id]="'flush-collapse'+cData.id" class="accordion-collapse collapse" [attr.aria-labelledby]="'flush-heading'+cData.id" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">{{cData.body}}</div>
          </div>
        </div>
        <!-- *************** accordion end *************** -->



      </div>
  </div>



