<section class="users">
    <table>
        <thead>
            <tr>
                <th>Id:</th>
                <th>Name:</th>
                <th>UserName:</th>
                <th>Email:</th>
                <th>City:</th>
                <th>Street:</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let userAddressData of usersAddressData">
                <td >{{userAddressData.id}}</td>
                <td>{{userAddressData.name}}</td>
                <td>{{userAddressData.username}}</td>
                <td>{{userAddressData.email}}</td>
                <td>{{userAddressData.city}}</td>
                <td>{{userAddressData.street}}</td>
            </tr>
        </tbody>
    </table>
</section>





